<a href="https://colab.research.google.com/github/LelouchFT/Traitement-du-texte-Python/blob/main/Chapitre-3-Nettoyage-Extraction-texte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 03_01 Tokenisation

La tokenisation fait référence à la conversion d'une chaîne de texte en jetons individuels. Les jetons peuvent être des mots ou des ponctuations

In [ ]:
import nltk
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import silhouette_score
import plotly.express as px
import plotly.graph_objects as go
from sklearn.cluster import KMeans


#Lire le fichier de base dans une variable de texte brut
dfs = pd.read_excel("/content/data.xlsx", sheet_name=None)
df2019 = dfs['2019']

# Convertir les dates en format datetime et normaliser
df2019['Date de remplissage de la fiche'] = pd.to_datetime(df2019['Date de remplissage de la fiche'], errors='coerce').dt.normalize()

df2019['Date de remplissage de la fiche'] = df2019['Date de remplissage de la fiche'].fillna(df2019['Date de remplissage de la fiche'].mode()[0])
df2019['Date de naissance'] = pd.to_datetime(df2019['Date de naissance'], errors='coerce').dt.normalize()
df2019['Date de naissance'] = df2019['Date de naissance'].fillna(df2019['Date de naissance'].mode()[0])
df2019['Si oui preciser la date du dernier don.'] = pd.to_datetime(df2019['Si oui preciser la date du dernier don.'], errors='coerce').dt.normalize()
# Calculer l'âge s

df2019['Age'] = df2019.apply( lambda x: x['Date de remplissage de la fiche'].year - x['Date de naissance'].year ,
    axis=1
).astype('Int64')

# Afficher les 5 premières valeurs de la colonne Age
ages = df2019.pop('Age')
df2019.insert(1,'Age',ages)
df2 = df2019.copy()
#print(df2019[['Age','Date de remplissage de la fiche','Date de naissance']].head(15))
df2019 = df2019.drop('Date de naissance', axis =1)
df_vol = dfs['Volontaire']
df_vol = df_vol.drop(['ID','Horodateur'],axis = 1)
#df_vol['Date de remplissage de la fiche'] = pd.NaT
df_vol.insert(0,'Date de remplissage de la fiche'
,pd.NaT)
df_vol.columns = df2019.columns


df = pd.concat([df_vol,df2019],ignore_index = True)
df['Date de remplissage de la fiche'] = df['Date de remplissage de la fiche'].fillna(df['Date de remplissage de la fiche'].mode()[0])
imputer = SimpleImputer(strategy = 'constant',fill_value = 0)
df.columns = ['Date de remplissage de la fiche','Age',"Niveau d'etude", 'Genre', 'Taille', 'Poids',
       'Situation Matrimoniale (SM)', 'Profession',
       'Arrondissement de résidence', 'Quartier de Résidence', 'Nationalité',
       'Religion', 'A-t-il (elle) déjà donné le sang',
       'Si oui preciser la date du dernier don.', 'Taux d’hémoglobine',
       'ÉLIGIBILITÉ AU DON.',
       'Est sous anti-biothérapie',
       'Taux d’hémoglobine bas',
       'date de dernier Don < 3 mois',
       'IST récente (Exclu VIH, Hbs, Hcv)',
       'DDR',
       'DDR<14',
       'Allaitement',
       'A accoucher ces 6 derniers mois',
       'Interruption de grossesse  ces 06 derniers mois',
       'est enceinte',
       'Autre raisons ,preciser', 'Sélectionner "ok" pour envoyer',
       'Antécédent de transfusion',
       'Porteur(HIV,hbs,hcv)',
       'Opéré',
       'Drepanocytaire',       'Diabétique',
       'Hypertendus',
       'Asthmatiques',
       'Cardiaque',
       'Tatoué',
       'Scarifié',
       'Si autres raison preciser']


col = ['ÉLIGIBILITÉ AU DON.',
       'Est sous anti-biothérapie',
       'Taux d’hémoglobine bas',
       'date de dernier Don < 3 mois',
       'IST récente (Exclu VIH, Hbs, Hcv)',
       'DDR<14',
       'Allaitement',
       'A accoucher ces 6 derniers mois',
       'Interruption de grossesse  ces 06 derniers mois',
       'est enceinte',
       'Antécédent de transfusion',
       'Porteur(HIV,hbs,hcv)',
       'Opéré',
       'Drepanocytaire',
       'Diabétique',
       'Hypertendus',
       'Asthmatiques',
       'Cardiaque',
       'Tatoué',
       'Scarifié'
       ]
for c in col[1:] :
    df[c] = df[c].apply(lambda x : 1 if x == 'Oui' else 0 )
df['ÉLIGIBILITÉ AU DON.'] = df['ÉLIGIBILITÉ AU DON.'].apply(lambda x : 1 if x == 'Eligible' else 2 if x == 'Temporairement Non-eligible' else 0 )
df_cat = df[col]
col = df_cat.columns
df_cat = imputer.fit_transform(df_cat)
df_cat = pd.DataFrame(df_cat, columns = col)
df.head()

<ipython-input-68-fb88eb9dc3bf>:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2019['Date de remplissage de la fiche'] = pd.to_datetime(df2019['Date de remplissage de la fiche'], errors='coerce').dt.normalize()

,Date de remplissage de la fiche,Age,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Porteur(HIV,hbs,hcv)",Opéré,Drepanocytaire,Diabétique,Hypertendus,Asthmatiques,Cardiaque,Tatoué,Scarifié,Si autres raison preciser
0,2019-08-06,24,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant (e),Douala 3,Yassa,...,0,0,0,0,0,0,0,0,0,NaN
1,2019-08-06,23,Universitaire,Homme,NaN,NaN,Célibataire,Sans Emplois,R A S,R A S,...,0,1,0,0,0,0,0,0,0,NaN
2,2019-08-06,41,Aucun,Homme,NaN,NaN,Marié (e),Tailleur,Douala 1,NEW BELL,...,0,0,0,0,0,0,0,0,0,Aucune information
3,2019-08-06,24,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant,Douala 5,Ange raphael,...,0,0,0,0,0,0,0,0,0,NaN
4,2019-08-06,30,Secondaire,Homme,NaN,NaN,Célibataire,Militaire,Douala (Non précisé ),Beedi,...,0,0,0,0,0,0,0,0,0,NaN

Warning: Total number of columns (39) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.head()

,Date de remplissage de la fiche,Age,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Porteur(HIV,hbs,hcv)",Opéré,Drepanocytaire,Diabétique,Hypertendus,Asthmatiques,Cardiaque,Tatoué,Scarifié,Si autres raison preciser
0,2019-08-06,24,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant (e),Douala 3,Yassa,...,0,0,0,0,0,0,0,0,0,NaN
1,2019-08-06,23,Universitaire,Homme,NaN,NaN,Célibataire,Sans Emplois,R A S,R A S,...,0,1,0,0,0,0,0,0,0,NaN
2,2019-08-06,41,Aucun,Homme,NaN,NaN,Marié (e),Tailleur,Douala 1,NEW BELL,...,0,0,0,0,0,0,0,0,0,Aucune information
3,2019-08-06,24,Universitaire,Homme,NaN,NaN,Célibataire,Etudiant,Douala 5,Ange raphael,...,0,0,0,0,0,0,0,0,0,NaN
4,2019-08-06,30,Secondaire,Homme,NaN,NaN,Célibataire,Militaire,Douala (Non précisé ),Beedi,...,0,0,0,0,0,0,0,0,0,NaN

In [ ]:


df2 = df.copy()
va = list(df2.columns)
df_autres = df2[['Date de remplissage de la fiche','Autre raisons ,preciser',  'Si autres raison preciser']]
#Extraction des tokens
#Autres raisons
df_autres['tokens indisponible']  =df_autres['Autre raisons ,preciser']
df_autres['tokens ineligible']  =df_autres['Si autres raison preciser']
print("Token List : ",df_autres.head())
print("\n Total Tokens : ",df_autres.shape[0])

Token List :    Date de remplissage de la fiche Autre raisons ,preciser  \
0                      2019-08-06                     NaN
1                      2019-08-06                     NaN
2                      2019-08-06                     NaN
3                      2019-08-06                     NaN
4                      2019-08-06                     NaN

  Si autres raison preciser tokens indisponible    tokens ineligible
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2       Aucune information                  NaN  Aucune information
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN

 Total Tokens :  3761

<ipython-input-72-78b8b0be77ee>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_autres['tokens indisponible']  =df_autres['Autre raisons ,preciser']
<ipython-input-72-78b8b0be77ee>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_autres['tokens ineligible']  =df_autres['Si autres raison preciser']

In [96]:
#len(df_autres["tokens ineligible"].unique())
df_autres["tokens indisponible"].unique()

array([nan, 'Rapport non protégé et changement de partenaire ', 'Aucune',
       'RAISON NON PRECISEE', 'A été transfusé ',
       'Prise d’un médicament «\xa0DICLOJENAC\xa0»',
       'PAS DE RAISON SPECIFIQUES', 'RAPPORT NON PROTEGER',
       'RAPPORT NON PROTEGE', 'maladie cardio vasculaire',
       'Consommation de drogue ',
       'Eu à consommer de la cocaïne et d autre drogues ',
       'Changé de partenaire et eu des rapports non protégé', 'RAS',
       'RAPPORTS NON PROTEGES', 'CONSOMMATION DE DROGUES', 'opérée',
       'cocaïne', 'Pris de médicaments «\xa0DICLOJENAL\xa0»',
       'Voyagé dans des zones épidémiques '], dtype=object)

In [98]:

import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem.snowball import FrenchStemmer

# Téléchargement des ressources nécessaires
nltk.download('punkt_tab')
nltk.download('stopwords')
nltk.download('wordnet')

def preprocess_text(text):
    """ Nettoie et prépare une chaîne de texte pour le NLP """
    if pd.isna(text):  # Gérer les valeurs NaN
        return ""

    text = text.lower()  # Conversion en minuscules
    text = re.sub(r'\d+', '', text)  # Suppression des chiffres
    text = re.sub(r'[^\w\s]', '', text)  # Suppression des caractères spéciaux
    tokens = word_tokenize(text, language='french')  # Tokenisation
    stop_words = set(stopwords.words('french'))  # Liste des stopwords français
    tokens = [word for word in tokens if word not in stop_words]  # Suppression des stopwords

    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]  # Lemmatisation

    return " ".join(tokens)

def preprocess_dataframe(df, text_columns):
    """
    Applique le prétraitement NLP à un DataFrame.

    :param df: DataFrame contenant les textes
    :param text_columns: Liste des colonnes contenant du texte à prétraiter
    :return: DataFrame avec les colonnes nettoyées
    """
    df = df.copy()
    for col in text_columns:
        df[col] = df[col].apply(lambda x : x if x not in ( "Aucune information " , 'PAS DE RAISON SPECIFIQUES', 'Aucune','RAS','RAISON NON PRECISEE','PAS D INFORMATION SUR SON DOSSIER') else "")
        df[col] = df[col].fillna("").astype(str).apply(preprocess_text)
    df = df.dropna(tresh= 0.5)
    return df

# Exemple d'utilisation
df_exemple = pd.DataFrame({
    'Texte': ["C'est une belle journée! 🌞", "Nous allons à l'école demain.", "1234 Ceci est un test."] ,
    'Texte2': ["C'est une belle journée! 🌞", "Nous allons à l'école demain.", "1234 Ceci est un terminal."]
})


df_pretraite = preprocess_dataframe(df_autres, ['tokens ineligible','tokens indisponible'])
print(df_pretraite[['tokens ineligible','tokens ineligible']].head())

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

TypeError: DataFrame.dropna() got an unexpected keyword argument 'tresh'

## 03_02 Nettoyage du texte

Nous verrons des exemples de suppression de ponctuation et de conversion en minuscules

#### Supprimer la ponctuation

In [ ]:
#Utiliser la bibliothèque Punkt pour extraire les jetons
token_list2 = list(filter(lambda token: nltk.tokenize.punkt.PunktToken(token).is_non_punct, token_list))
print("Liste des tokens après suppression de la ponctuation : ",token_list2[:20])
print("\nTotal des token après suppression de la ponctuation : ", len(token_list2))

NameError: name 'token_list' is not defined

#### Convertir en minuscules

In [ ]:
token_list3=[word.lower() for word in token_list2 ]
print("Liste des tokens après conversion en minuscules : ", token_list3[:20])
print("\nTotal des tokens après conversion en minuscules : ", len(token_list3))

Liste des tokens après conversion en minuscules :  ['si', 'vous', 'vous', 'intéressez', 'au', 'big', 'data', 'vous', 'connaissez', 'certainement', 'apache', 'spark', 'savez-vous', 'pourquoi', 'spark', 'est', 'le', 'framework', 'de', 'prédilection']

Total des tokens après conversion en minuscules :  87

## 03_03 Suppression des mots vides

Suppression des mots vides à l'aide d'une liste de mots vides standard disponible dans NLTK pour l'anglais

In [ ]:
#Download the standard stopword list
nltk.download('stopwords')
from nltk.corpus import stopwords

#Remove stopwords
token_list4 = list(filter(lambda token: token not in stopwords.words('french'), token_list3))
print("Liste de tokens après suppression des mots vides : ", token_list4[:20])
print("\nTotal de tokens après suppression des mots vides : ", len(token_list4))

Liste de tokens après suppression des mots vides :  ['si', 'intéressez', 'big', 'data', 'connaissez', 'certainement', 'apache', 'spark', 'savez-vous', 'pourquoi', 'spark', 'framework', 'prédilection', 'traitement', 'données', 'massives', 'pourquoi', 'est-il', 'autant', 'apprécié']

Total de tokens après suppression des mots vides :  54

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

## 03_04 Stemming

In [ ]:
#Utilisez la bibliothèque SnowballStemmer pour la radicalisation.
from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer("french")

#Stem data
token_list5 = [stemmer.stem(word) for word in token_list4 ]
print("Liste de tokens après le stemming : ", token_list5[:20])
print("\nTotal de tokens après Stemming : ", len(token_list5))

Liste de tokens après le stemming :  ['si', 'intéress', 'big', 'dat', 'connaiss', 'certain', 'apach', 'spark', 'savez-vous', 'pourquoi', 'spark', 'framework', 'prédilect', 'trait', 'don', 'massiv', 'pourquoi', 'est-il', 'aut', 'appréci']

Total de tokens après Stemming :  54

## 03_05 Lemmatisation

In [ ]:
#Utilisez la bibliothèque wordnet pour mapper les mots à leur forme lemmatisée
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
token_list6 = [lemmatizer.lemmatize(word) for word in token_list4 ]
print("Liste de tokens après lemmatisation : ", token_list6[:20])
print("\nTotal des tokens après lemmatisation : ", len(token_list6))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Liste de tokens après lemmatisation :  ['si', 'intéressez', 'big', 'data', 'connaissez', 'certainement', 'apache', 'spark', 'savez-vous', 'pourquoi', 'spark', 'framework', 'prédilection', 'traitement', 'données', 'massif', 'pourquoi', 'est-il', 'autant', 'apprécié']

Total des tokens après lemmatisation :  54

#### Comparaison des tokens entre stemming et lemmatisation

In [ ]:
#Vérifier les technologies de jeton
print( "Raw : ", token_list4[20]," , Stemmed : ", token_list5[20], " , Lemmatized : ", token_list6[20])

Raw :  notamment  , Stemmed :  not  , Lemmatized :  notamment

### Lemmatisation du text en français

In [ ]:
# Plus d'information sur ce package : https://github.com/sammous/spacy-lefff


# Pour installer spacy usiliser la commande "pip install spacy"
# Il faut installer le dictionnaire français sur spacy "python -m spacy download fr"
# Pour installer spacy lemmatiser utiliser la commande "pip install spacy-lefff"
import spacy
from spacy.language import Language


nlp = spacy.load('fr_core_news_sm')
# nlp.add_pipe('french_lemmatizer', name='lefff')
doc = nlp(" ".join(token_list4))
for d in doc:
    print(d.text, d.lemma_)

si si
intéressez intéressez
big big
data data
connaissez connaître
certainement certainement
apache apache
spark spark
savez savoir
- -
vous vous
pourquoi pourquoi
spark spark
framework framework
prédilection prédilection
traitement traitement
données donnée
massives massif
pourquoi pourquoi
est-il est-il
autant autant
apprécié apprécier
notamment notamment
déployer déployer
algorithmes algorithme
machine machine
learning learning
découvrez découvrir
cours cours
apache apache
pyspark pyspark
répondre répondre
toutes tout
questions question
travers travers
multiples multiple
exemples exemple
mises mise
pratique pratique
professeur professeur
associé associer
technologies technologie
l' le
information information
techniques technique
d' de
optimisation optimisation
donne donne
toutes tout
clés clé
analyser analyser
efficacement efficacement
données donner
grande grand
échelle échelle
apache apache
spark spark
python python